#Tutorial-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: min(100%, 720px);
    height: min(100%, 420px);
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 27%);
    z-index: 3;
}

.tut-button {
    width: 34%;
    height: fit-content;
    border-radius: 0px;
}

.tut-section {
    margin: 0px auto;
    height: calc(100% - 40px);
    width: 100%;
}

.tut-image {
    object-fit: contain;
    margin: auto;
    height: 50%;
}

.tut-desc {
    margin: auto;
    text-align: center;
    width: 33%;
    font-size: var(--step-0);
}

@media screen and (max-width: 960px) {
    .tut-section {
        flex-direction: column;
    }
    
    .tut-image {
        order: -1;
    }

    .tut-desc {
        width: 95%;
    }
}