#Dashboard-container {
    height: 100%;
    min-height: calc(100vh - 80px);
    width: 100vw;
    margin: 80px auto 0px;
    padding: 1rem;
}

#Dashboard-left {
    display: flex;
    height: 20%;
    width: min(100%, 1230px);
    padding: 0px 0px 0px 4px;
    margin: auto auto 2px;
    justify-content: center;
}

#Dashboard-intro {
    width: calc(100% / 3 - 4px);
    height: 168px;
    padding: 4px 8px;
    margin: auto 2px auto 0px;
    background-color: rgba(6, 82, 120, 0.9) !important;
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#Dashboard-stats {
    width: calc(100% - (100% / 3 - 8px));
    height: 100%;
    flex-wrap: wrap;
    margin: auto auto auto 2px;
}

#Dashboard-right {
    display: flex;
    height: 100%;
    width: min(100%, 1230px);
    margin: 2px auto auto;
}

/* #Region-filter {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
} */

#Posts {
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.team-post {
    margin: 4px 4px;
    background-color: white;
    padding: 4px 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 27%);
    width: calc(100% / 3 - 8px);
    height: 120px;
    cursor: pointer;
    overflow: auto;
}

.fun-stat {
    width: calc(100% / 3 - 8px);
    height: 80px;
    margin: 4px;
    text-align: center;
    background-color: rgba(34, 134, 173, 0.9) !important;
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.team-titles {
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

.ds-team-wrapper {
    margin: 4px auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.team-tags {
    display: none;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.team-tag {
    margin: 4px 4px;
    padding: 8px 12px;
    background-color: rgb(58, 124, 155);
    color: white;    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-size: var(--step--2);
}

.selected {
    background-color: rgb(97, 192, 209);
}

@media screen and (max-width: 1240px) {
    #Dashboard-intro {
        height: 258px;
    }

    .fun-stat {
        width: calc(100% / 2 - 8px);
    }
}

@media screen and (max-width: 1080px) {
    .team-post {
        width: calc(100% / 2 - 8px);
        height: 130px;
    }
}

@media screen and (max-width: 960px) {
    .team-post {
        height: 114px;
    }
}

@media screen and (max-width: 840px) {
    #Dashboard-container {
        padding: 1rem 0px;
    }

    #Dashboard-left {
        flex-direction: column;
        padding: 0px;
    }

    #Dashboard-intro {
        width: calc(100% - 8px);
        margin: 2px auto;
        height: 168px;
    }
    
    #Dashboard-stats {
        width: 100%;
        margin: 2px auto;
    }

    .team-post {
        width: 100%;
    }
}