#Dashboard-container {
    height: 100%;
    width: min(100%, 1820px);
    margin: 120px auto;
    flex-wrap: wrap;
    justify-content: center;
}

#Dashboard-right {
    height: 100%;
    width: min(100%, 820px);
    justify-content: center;
}

#Posts {
    flex-wrap: wrap;
}

.team-post {
    margin: 4px 4px;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 27%);
    width: 400px;
    cursor: pointer;
}

.team-titles {
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

.team-wrapper {
    margin: 4px auto;
    width: min(100%, 400px);
    justify-content: center;
    flex-wrap: wrap;
}

.team-tags {
    display: none;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.team-tag {
    margin: 4px 4px;
    padding: 8px 12px;
    background-color: rgb(58, 124, 155);
    color: white;    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-size: var(--step--2);
}

.selected {
    background-color: rgb(97, 192, 209);
}

@media screen and (max-width: 960px) {
    #Dashboard-container {
        width: 100%;
    }

    .team-post {
        margin: 4px auto;
    }
}