#Loading-screen {
    height: calc(100vh - 80px);
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 3;
}

#Loading-container {
    width: min(90%, 720px);
    margin: auto;
}

#Fact-card {
    margin: 8px auto; 
    padding: 8px;
}

.fact-header {
    margin: 0px 8px;
}

.fact-text {
    padding: 2px 8px;
}

#Loading-button {
    width: fit-content;
    margin: auto;
    background-color: rgba(6, 114, 177, 0.8);
}

#Loading-button:hover, #Loading-button:active, #Loading-button:focus {
    background-color: rgba(12, 131, 199, 0.8);
}

.loading-text {
    margin: 4px auto; 
    font-size: 1rem;
}