#Loading-container {
    width: min(90%, 1060px);
    margin: auto;
}

#Fact {
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 27%);
    background-color: white;
    border-radius: 16px;
    padding: 16px;
}

#Loading-screen {
    height: calc(100% - 80px);
    width: 100%;
}

.loading-text {
    margin: 8px auto;
}