#Pokedex-container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

#Pokedex-list {
    width: 100%;
    margin: 80px auto;
    flex-wrap: wrap;
    justify-content: center;
}

#View-team {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 0%;
    border-radius: 20px 0px 0px 20px;
    padding: 25px 15px;
    background-color: rgb(58, 58, 58);
    color: white;
}

@media screen and (max-width: 960px) {
    
}