.pokemon-container {
    position: relative;
    width: 200px;
    height: 240px;
    border-radius: 1rem;
    margin: 8px;
    box-shadow: 3px 3px 8px rgb(0, 0, 0, 27%);
    text-transform: capitalize;
    transition: all 0.5s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.pokemon-container:hover, .pokemon-container:active, .pokemon-container:focus {
    transform: translateY(-5px);
}

.ds:hover, .ds:active, .ds:focus {
    transform: none;
}

.pokemon-button-container {
    position: absolute;
    visibility: hidden;
    height: 20px;
    width: 100%;
    justify-content: space-between;
    margin: 8px auto 4px auto;
}

.pokemon-container:hover .pokemon-button-container, .pokemon-container:active .pokemon-button-container, .pokemon-container:focus .pokemon-button-container {
    visibility: visible;
}

.pokemon-button-card {
    background-color: white;
    color: black;
    border-radius: 100%;
    margin: auto 8px;
    width: 30px;
    height: 30px;
    font-size: 1rem;
}

.pokemon-index-card, .pokemon-name-card {
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    height: 100%;
    width: 100%;
}

.pokemon-image-card {
    margin: auto auto auto auto;
    width: 128px;
}

.pokemon-type-container-card {
    width: 100%;
    margin: 1px auto;
    justify-content: center;
}

.pokemon-type-card {
    width: 36px;
    border-radius: 100%;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 27%);
    margin: auto 4px 12px 4px;
}

.ds {
    width: 60px;
    height: 70px;
    margin: 2px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 27%);
    border-radius: 6px;
}

.ds .pokemon-image-card {
    width: 60px;
}

.ds .pokemon-name-card {
    display: none;
}

@media screen and (max-width: 960px) {
    .pokemon-container {
        height: 240px;
        width: 180px;
    }

    .pokemon-button-container {
        visibility: visible;
    }

    .pokemon-image-card {
        margin: 20px auto 1px auto;
        width: 110px;
    }

    .ds {
        width: 60px;
        height: 70px;
    }
    
    .ds .pokemon-image-card {
        margin: auto;
        width: 60px;
    }
}

@media screen and (max-width: 400px){
    .pokemon-container {
        height: 230px;
        width: 170px;
    }

    .ds {
        width: 55px;
        height: 65px;
    }
    
    .ds .pokemon-image-card {
        margin: auto;
        width: 55px;
    }
}