#Team-container {
    width: 100vw;
    height: 100vh;
    text-transform: capitalize;
    align-items: flex-end;
    position: relative;
}

#Team-page {
    height: calc(100% - 80px);
    width: 100%;
    overflow-y: auto;
}

#Team-wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and(max-width: 960px) {

}