#Team-container {
    text-transform: capitalize;
    height: calc(100vh - 80px);
    position: relative;
    margin: 80px auto 0px auto;
}

#Team-wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#Team-right {
    height: fit-content;
    width: min(100%, 700px);
    margin: auto;
}

#Team-left {
    margin: auto;
    width: fit-content;
}

#Team-header {
    margin: 4px auto;
}

#Team-button-container, .button-container {
    width: fit-content;
    margin: 4px auto;
}

.team-button {
    padding: 20px;
    width: 180px;
    margin: auto 4px;
    color: white;
    font-size: var(--step-0);
}

#Team-settings-container {
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 27%);
    margin: 8px 0px;
}

#Settings-container {
    margin: auto;
}

#Share-button {
    margin: 10px auto auto auto;
    background-color: rgb(28, 114, 185);
    color: white;
    font-size: 1.3rem;
}

#Share-button:hover, #Share-button:focus, #Share-button:active {
    background-color: rgb(45, 133, 204);
}

@media screen and (max-width: 960px) {
    #Team-container {
        flex-direction: column;
        height: 100%;
    }

    #Team-left {
        margin: 60px auto 0px auto;  
    }
}