.about-wrapper {
    width: 80%;
    margin: 10px auto;
}

.about-info {
    width: 50%;
    margin: auto 10px;
}

.about-image {
    width: 40%;
}

@media screen and (max-width: 960px) {
    .about-wrapper {
        flex-direction: column;
        width: 90%;
    }

    .about-info {
        width: 100%;
    }
    
    .about-image {
        width: 90%;
    }

    #About-wrapper-2 {
        flex-direction: column-reverse;
    }
}