.about-wrapper {
    width: min(90%, 1160px);
    margin: 10px auto;
    border-radius: 16px;
    padding: 4px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 27%);
    background-color: white;
}

.about-info {
    width: 60%;
    margin: auto;
}

.about-image {
    width: 30%;
    margin: 4px;
}

@media screen and (max-width: 960px) {
    .about-wrapper {
        flex-direction: column;
        width: 90%;
    }

    .about-info {
        width: 100%;
    }
    
    .about-image {
        width: 90%;
    }

    #About-wrapper-2 {
        flex-direction: column-reverse;
    }
}