#Regions {
    width: min(90%, 1160px);
    margin: 16px auto;
    justify-content: center;
}

.region-container {
    cursor: pointer;
    border-radius: 8px;
    width: calc(100% / 7);
    height: 500px;
    outline: none;
    border: none;
    position: relative;
    overflow: hidden;
    margin: 0px 3px;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 27%);
}

.region-wallpaper {
    object-fit: cover;
    height: 100%;
}

#Kanto {
    margin: 0px 3px 0px 0px;
}

#Alola {
    margin: 0px 0px 0px 3px;
}

.region-image {
    position: absolute;
    width: 84px;
    opacity: 0;
    z-index: 1;
    background-color: rgba(33, 202, 224, 0.3);
    padding: 4px;
    margin: 2px;
    border-radius: 100%;
}

.i1 {
    left: 0px;
}

.i2 {
    right: 0px;
    top: 13%;
}

.i3 {
    top: 26%;
}

.i4 {
    bottom: 0%;
    right: 0px;
}

.i5 {
    bottom: 13%;
}

.i6 {
    bottom: 26%;
    right: 0px;
}

.region-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    text-align: center;
    text-shadow: 
        0 0 2px rgba(255,255,255,0.8), 
        2px 2px 2px rgba(0,0,0,0.2);
}

.region-name-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    background-color: rgba(33, 202, 224, 0.3);
    width: 100%;
    text-align: center;
    text-shadow: 
        0 0 2px rgba(255,255,255,0.8), 
        2px 2px 2px rgba(0,0,0,0.2);
    opacity: 0;
    z-index: 1;
}

.region-container:hover .region-name {
    opacity: 0;
}

.region-container:hover .region-image, .region-container:hover .region-name-hover {
    opacity: 1;
}

.region-container:hover .region-wallpaper {
    filter: brightness(25%);
}

@media screen and (max-width: 1200px) {
    #Regions {
        flex-wrap: wrap;
    }

    .region-container {
        width: calc(calc(100% - 12px) / 2);
        height: 240px;
        margin: 3px;
    }

    .i1 {
        left: 0px;
    }
    
    .i2 {
        left: 50%;
        transform: translateX(-50%);
        top: initial;
    }
    
    .i3 {
        top: initial;
        right: 0px;
    }
    
    .i4 {
        bottom: 0%;
        left: 0px;
    }
    
    .i5 {
        left: 50%;
        transform: translateX(-50%);
        bottom: 0%;
    }
    
    .i6 {
        bottom: 0%;
        right: 0px;
    }
}

@media screen and (max-width: 960px){
    .region-container {
        width: 100%;
        height: 240px;
        margin: 8px 0px;
    }
}