#Navbar {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
    background-color: rgba(19, 59, 105, 0.9);
    z-index: 9999;
    transition: background-color 0.5s ease-in-out;
}

#Navbar-logo {
    height: 100%;
    width: 30%;
    font-size: var(--step-3);
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: 
        0 0 2px rgba(255,255,255,0.8), 
        2px 2px 2px rgba(0,0,0,0.4);
}

#Navbar-container {
    height: 100%;
    width: 75%;
    justify-content: flex-end;
    margin: 0px 40px 0px 0px;
    transition: background-color 0.5s ease-in-out;
}

.nav-button {
    background-color: transparent;
    border: none;
    padding: 15px 20px;
    margin: auto 4px;
    color: white;
    text-shadow: 
    0 0 1px rgba(255,255,255,0.8), 
    2px 2px 2px rgba(0,0,0,0.4);
    font-size: var(--step-1);
    justify-content: center;
    align-items: center;
}   

.nav-button:hover, .nav-button:focus, .nav-button:active {
    background-color: rgba(240, 240, 240, 0.5);
}

@media screen and (max-width: 960px) {
    #Navbar-logo {
        font-size: var(--step-5);
        margin-left: 25px;
        width: fit-content;
        margin: auto;
    }

    #Navbar-container {
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        border-bottom: 1px solid rgb(87, 87, 87);
    }

    #Navbar-container.active {
        background: rgba(46, 72, 128, 0.9);
        top: 100%;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
    }

    #Navbar-container button, #Navbar-container a {
        height: 100%;
        width: 100%;
        border-top: 1px solid rgb(87, 87, 87);
        border-radius: 0px;
    }

    #Mobile-menu {
        position: absolute;
        right: 20px;
        height: 100%;
        justify-content: center;
    }

    #Mobile-menu .bar {
        display: block;
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 3px auto;
        transition: all 0.3s ease-in-out;
        background-color: rgb(255, 255, 255);
        box-shadow: 
        0 0 2px rgba(255,255,255,0.8), 
        2px 2px 2px rgba(0,0,0,0.4);
    }

    #Mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #Mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        box-shadow: none;
    }
    
    #Mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        box-shadow: none;
    }
}