#Hero-wrapper {
    position: relative;
    width: min(100%, 1160px);
    margin: 120px auto 16px auto;
}

#Hero-wallpaper {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#Hero-text {
    text-align: center;
    width: 90%;
    margin: 0px auto 40px;
}

@media screen and (max-width: 960px) {
    #Hero-wrapper {
        margin: 80px auto 0px auto;
    }

    #Hero-text {
        margin: 20px auto;
    }
}