#Hero-wrapper {
    position: relative;
    width: min(100%, 1160px);
    margin: 120px auto 80px auto;
}

#Hero-wallpaper {
    width: 60%;
    object-fit: cover;
    margin: 0px auto 20px;
    border-radius: 16px;
}

#Left-hero-wrapper {
    width: 40%;
    margin: auto 20px auto auto;
}

#Hero-button-container {
    justify-content: center;
}

@media screen and (max-width: 960px) {
    #Hero-wrapper {
        margin: 80px auto 40px auto;
        flex-direction: column-reverse;
    }

    #Hero-wallpaper {
        border-radius: 0px;
        border: none;
        width: 100%;
    }

    #Left-hero-wrapper {
        width: 90%;
        text-align: center;
    }
}